# Ignore configuration files that may contain sensitive information.
local.settings.php
local.services.yml
*.local
local.blt.yml

# Ignore drupal core.
docroot/core

# Ignore contrib modules. These should be created during build process.
docroot/modules/contrib
docroot/themes/contrib
docroot/profiles/contrib
docroot/libraries

# OS X
.DS_Store
.AppleDouble
.LSOverride

#Composer vendor
vendor/
vendor/.git

#Ignore ddev
.ddev

#Ignore config sync in web directiry
docroot/sites/default/files/
local.drush.yml
local.site.yml
deployment_identifier
/travis_wait*
/files-private
.phpcs-cache